@model BelarusContextStandart.Models.LanguageModels.TranslateModel

@{
    ViewBag.Title = "Контекстные переводы беларуского языка";
    var isValid = Model != null;
}

<div class="jumbotron">
    @if (isValid)
    {
        <div>
            @using (Ajax.BeginForm("Translations", "Home", new AjaxOptions { UpdateTargetId = "results" }))
            {
                <p>
                    <input class="text-box single-line" id="Data" name="data" type="text" value="">
                </p>
                <p>
                    <input class="text-box single-line" data-val="true" data-val-required="Требуется поле FromLang." id="FromLang" name="fromLang" type="text" value="4e5b4496-6960-407b-ad4a-5dc7b5392fe3">
                </p>
                <p>
                    <input class="check-box" data-val="true" data-val-required="Требуется поле Reverse." id="Reverse" name="reverse" type="checkbox" value="true">
                    <input name="reverse" type="hidden" value="false">
                </p>
                <p>
                    <input class="text-box single-line" data-val="true" data-val-required="Требуется поле ToLang." id="ToLang" name="toLang" type="text" value="d4d0f4ac-ecec-4446-bdd3-bbc5a8d489f0">
                </p>
                <p><input type="submit" value="Поиск"></p>
            }
        </div>


        <div class="wrapper wrapper--w1226">
            <div class="card card-5">
                <div class="card-body">
                    <form method="POST" action="#">
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <input class="input--style-1" type="text" id="Data" name="data" placeholder="Введите текст для перевода" required="required" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group m-b-0">
                                            <label class="label">Passengers</label>
                                            <div class="input-group-icon" id="js-select-special">
                                                <input class="input--style-1 input--text-small" type="text" name="passengers" value="1 Adult, 0 Children, 1 Room" disabled="disabled" id="info">
                                                <i class="zmdi zmdi-plus input-icon"></i>
                                            </div>
                                            <div class="dropdown-select">
                                                <ul class="list-room">
                                                    <li class="list-room__item">
                                                        <span class="list-room__name">Room 1</span>
                                                        <ul class="list-person">
                                                            <li class="list-person__item">
                                                                <span class="name">Adults</span>
                                                                <div class="quantity quantity1">
                                                                    <span class="minus">-</span>
                                                                    <input class="inputQty" type="number" min="0" value="1">
                                                                    <span class="plus">+</span>
                                                                </div>
                                                            </li>
                                                            <li class="list-person__item">
                                                                <span class="name">Children</span>
                                                                <div class="quantity quantity2">
                                                                    <span class="minus">-</span>
                                                                    <input class="inputQty" type="number" min="0" value="0">
                                                                    <span class="plus">+</span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                                <div class="list-room__footer">
                                                    <a href="#" id="btn-add-room">Add room</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group m-b-0">
                                            <label class="label">Depart</label>
                                            <input class="input--style-1" type="text" name="depart" placeholder="mm/dd/yyyy" id="input-start">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group m-b-0">
                                            <label class="label">Return</label>
                                            <input class="input--style-1" type="text" name="return" placeholder="mm/dd/yyyy" id="input-end">
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-8">
        @if (isValid)
        {
            <div>
                <div id="results"></div>
                
                <p>-----------</p>
                @Ajax.ActionLink("Load More Posts", "Translations", "Home", new { data = Model }, new AjaxOptions()
                {
                    HttpMethod = "GET",
                    AllowCache = false,
                    InsertionMode = InsertionMode.InsertAfter,
                    UpdateTargetId = "posts-wrapper"
                })
            </div>
            <div id="translations">
            </div>
        }
    </div>
</div>

<!--
<script type="text/javascript">
    $(document).ready(function () {
        $("input[type=submit]").live("click", function () {
            var f = $("input[type=submit]").parents("form");
            var action = f.attr("action");
            var serializedForm = f.serialize();
            $.ajax({
                type: 'GET',
                url: action,
                data: serializedForm,
                success: function (data, textStatus, request) {
                    if (!data == "") {
                        console.log("DATA HERE!");
                        $("#translations").html(data);
                    }
                    else {
                        console.log("NO DATA!");
                    }
                }
            });
            return false;
        });
    });

    $(document).ready(function () {
        $('input[name="btnLink"]').live("click", function () {
            var f = $("input[type=submit]").parents("form");
            
            var action = f.attr("action");
            var serializedForm = f.serialize();
            $.ajax({
                type: 'GET',
                url: action,
                data: serializedForm,
                success: function (data, textStatus, request) {
                    if (!data == "") {
                        console.log("DATA HERE!!!!");
                        $("#translations").html(data);
                    }
                    else {
                        console.log("NO DATA!!!!");
                    }
                }
            });
            return false;
        });
    });
</script>-->
<script type="text/javascript">
    (function ($) {
        'use strict';
        /*==================================================================
            [ Daterangepicker ]*/


        try {
            $('#input-start').daterangepicker({
                ranges: true,
                autoApply: true,
                applyButtonClasses: false,
                autoUpdateInput: false
            }, function (start, end) {
                $('#input-start').val(start.format('MM/DD/YYYY'));
                $('#input-end').val(end.format('MM/DD/YYYY'));
            });

            $('#input-start-2').daterangepicker({
                ranges: true,
                autoApply: true,
                applyButtonClasses: false,
                autoUpdateInput: false
            }, function (start, end) {
                $('#input-start-2').val(start.format('MM/DD/YYYY'));
                $('#input-end-2').val(end.format('MM/DD/YYYY'));
            });

        } catch (er) { console.log(er); }
        /*==================================================================
            [ Single Datepicker ]*/


        try {
            var singleDate = $('.js-single-datepicker');

            singleDate.each(function () {
                var that = $(this);
                var dropdownParent = '#dropdown-datepicker' + that.data('drop');

                that.daterangepicker({
                    "singleDatePicker": true,
                    "showDropdowns": true,
                    "autoUpdateInput": true,
                    "parentEl": dropdownParent,
                    "opens": 'left',
                    "locale": {
                        "format": 'DD/MM/YYYY'
                    }
                });
            });

        } catch (er) { console.log(er); }
        /*==================================================================
            [ Special Select ]*/

        try {
            var body = $('body,html');

            var selectSpecial = $('#js-select-special');
            var info = selectSpecial.find('#info');
            var dropdownSelect = selectSpecial.parent().find('.dropdown-select');
            var listRoom = dropdownSelect.find('.list-room');
            var btnAddRoom = $('#btn-add-room');
            var totalRoom = 1;

            selectSpecial.on('click', function (e) {
                e.stopPropagation();
                $(this).toggleClass("open");
                dropdownSelect.toggleClass("show");
            });

            dropdownSelect.on('click', function (e) {
                e.stopPropagation();
            });

            body.on('click', function () {
                selectSpecial.removeClass("open");
                dropdownSelect.removeClass("show");
            });


            listRoom.on('click', '.plus', function () {
                var that = $(this);
                var qtyContainer = that.parent();
                var qtyInput = qtyContainer.find('input[type=number]');
                var oldValue = parseInt(qtyInput.val());
                var newVal = oldValue + 1;
                qtyInput.val(newVal);

                updateRoom();
            });

            listRoom.on('click', '.minus', function () {
                var that = $(this);
                var qtyContainer = that.parent();
                var qtyInput = qtyContainer.find('input[type=number]');
                var min = qtyInput.attr('min');

                var oldValue = parseInt(qtyInput.val());
                if (oldValue <= min) {
                    var newVal = oldValue;
                } else {
                    var newVal = oldValue - 1;
                }
                qtyInput.val(newVal);

                updateRoom();
            });



            listRoom.on('change', '.inputQty', function () {
                var that = $(this);
                if (isNumber(that.val())) {
                    var qtyVal = parseInt(that.val());
                    if (that.val().length === 0) {
                        qtyVal = 0;
                    }

                    if (qtyVal < 0) {
                        qtyVal = 0;
                    }
                    that.val(qtyVal);

                    updateRoom();
                }
            });

            function isNumber(n) {
                return typeof (n) != "boolean" && !isNaN(n);
            }

            btnAddRoom.on('click', function (e) {
                e.preventDefault();

                totalRoom++;

                listRoom.append('<li class="list-room__item">' +
                    '                                        <span class="list-room__name"> Room ' + totalRoom + '</span>' +
                    '                                        <ul class="list-person">' +
                    '                                            <li class="list-person__item">' +
                    '                                                <span class="name">' +
                    '                                                    Adults' +
                    '                                                </span>' +
                    '                                                <div class="quantity quantity1">' +
                    '                                                    <span class="minus">' +
                    '                                                        -' +
                    '                                                    </span>' +
                    '                                                    <input type="number" min="0" value="0" class="inputQty">' +
                    '                                                    <span class="plus">' +
                    '                                                        +' +
                    '                                                    </span>' +
                    '                                                </div>' +
                    '                                            </li>' +
                    '                                            <li class="list-person__item">' +
                    '                                                <span class="name">' +
                    '                                                    Children' +
                    '                                                </span>' +
                    '                                                <div class="quantity quantity2">' +
                    '                                                    <span class="minus">' +
                    '                                                        -' +
                    '                                                    </span>' +
                    '                                                    <input type="number" min="0" value="0" class="inputQty">' +
                    '                                                    <span class="plus">' +
                    '                                                        +' +
                    '                                                    </span>' +
                    '                                                </div>' +
                    '                                            </li>' +
                    '                                        </ul>');


                updateRoom();
            });


            function countAdult() {
                var listRoomItem = listRoom.find('.list-room__item');
                var totalAdults = 0;

                listRoomItem.each(function () {
                    var that = $(this);
                    var numberAdults = parseInt(that.find('.quantity1 > input').val());

                    totalAdults = totalAdults + numberAdults;

                });

                return totalAdults;
            }

            function countChildren() {
                var listRoomItem = listRoom.find('.list-room__item');
                var totalChildren = 0;

                listRoomItem.each(function () {
                    var that = $(this);
                    var numberChildren = parseInt(that.find('.quantity2 > input').val());

                    totalChildren = totalChildren + numberChildren;
                });

                return totalChildren;
            }

            function updateRoom() {
                var totalAd = parseInt(countAdult());
                var totalChi = parseInt(countChildren());
                var adults = 'Adult, ';
                var rooms = 'Room';

                if (totalAd > 1) {
                    adults = 'Adults, ';
                }

                if (totalRoom > 1) {
                    rooms = 'Rooms';
                }

                var infoText = totalAd + ' ' + adults + totalChi + ' ' + 'Children, ' + totalRoom + ' ' + rooms;

                info.val(infoText);
            }

        } catch (e) {
            console.log(e);
        }
        /*[ Select 2 Config ]
            ===========================================================*/

        try {
            var selectSimple = $('.js-select-simple');

            selectSimple.each(function () {
                var that = $(this);
                var selectBox = that.find('select');
                var selectDropdown = that.find('.select-dropdown');
                selectBox.select2({
                    dropdownParent: selectDropdown
                });
            });

        } catch (err) {
            console.log(err);
        }


    })(jQuery);
</script>