@model IEnumerable<string>

<div id="searchresults">
    <ul>
        @{
            var i = 1;
        }

        @foreach (var translation in Model)
        {
            <li>@i) @translation</li>
            i++;
        }
    </ul>
</div>